body {
  background-color: GhostWhite;
  border-style: solid;
  border-width: 30px;
  border-color: #ccccff;
  padding: 15px;
}

h1 { 
  font-family: Verdana;
  font-style: Italic;
  font-size: 50px;
  background-color: #ddccff;
  
}

h2 {
  font-size: 30px;
  color: #6666ff;
}

p {
  color: LightSlateGrey;  
  font-size: 20px; 
  float: left;
}

p1 {
  color: LightSlateGrey;
  position: absolute;
  padding-top: 90px;
}

p2 {
  color: LightSlateGrey;
  position: absolute;
}

p3 {
  color: LightSlateGrey;
  position: absolute;
}

p4 {
  color: LightSlateGrey;
  font-size: 20px;
}

p5 {
  color: LightSlateGrey;
  font-size: 20px;
  margin-bottom: 2em;
}

ul {
 list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #e1c1f0;
  overflow: hidden;
}

}
li {
  float: left;
}

li a {
  display: block;
  color: navy;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
  font-size: 20px;
}

li a:hover {
  background-color: #b3d9ff;  
}


